#Header{
	margin-top: 6.0801vw;
    width: 100%;
	padding: 0 7.8684vw;
	
	.header_top{
		width: 100%;
		margin-bottom: 44.3px;
		.icMenu{
			width: 6.0086vw;
			img{
				width: 100%;
			}
		}
		.logo{
			height: 5.4363vw;
			img{
				height: 100%;
			}
		}
	}

	.searchWrap{
		width: 100%;
		height: 60px;
		background:#fff;
		border-radius: 30px;
		overflow: hidden;

		input{
			width: 100%;
			height: 100%;
			padding: 0 40px;
			font-size: 26px;
		}
	}

}