$pupleColor : #7748f5;

.pageStart{
	background: $pupleColor; height: 100%; width: 100%;
	img{
		&:nth-child(1){
			width: 52.4%;height: 5%;
		}
		&:nth-child(2){
			width: 61.2%;height: 5.7%;
		}
	}
}
