*, *:before, *:after {box-sizing: border-box; outline: none; margin: 0; padding: 0;}
body{ -ms-overflow-style: none; }
body::-webkit-scrollbar { display:none; }
.event{position: relative;background:#fff;overflow: hidden;}
.event .img{position:relative;}
.event .img img{width:100%;vertical-align:middle;} 
.event .img .start_btn{position: absolute;top: 38.8%;left: 18.6%;height: 15.7%;width: 63%;cursor: pointer;}
.event .img .start_btn span{z-index: -1;height: 0;line-height: 0;font-size: 0;}
.Pouring{position: absolute;width:100%;height: 100%;right: 0;top: 0;}
.snowPouring{position: relative;height: 100%;}

.snow{
    background: #fff;position: absolute;border-radius: 50%;filter: blur(0.5vw);
    transform: translate(50%);
    animation: particleDown ease-out 0;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    -webkit-animation: particleDown ease-out 0;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: backwards;
}

#iceImg img{display: none;}
#iceImg img.showImg{display: block;}
.glove{position: absolute; left: 50%;top: 50%;width: 15%; height: auto;cursor: pointer;}
.rotateGlove{transform: rotate(-30deg);}

.ice{position: absolute; left:0; width:100%; height: 100%; top: 0;}
.layerDiv{position: absolute;left: 0;width: 100%;height: 100%;top: 0;}
@keyframes particleDown {
    0% {opacity: 0;}
    5%{opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;top : 100%;}
}

/* 팝업 */
.event-pop{ position:fixed; top:0; left:0; right:0; bottom:0; box-sizing:border-box; display: flex; -webkit-display: flex; justify-content: center; align-items: center; background: rgba(0,0,0,0.6); z-index:100; }
.event-pop .event-inner{position: relative; width:85%;}
.event-pop .event-inner > p{width: 100%;}
.event-pop .event-inner img{width: 100%;}
.event-pop .event-inner .close-btn{position: absolute; bottom: 7.2%; left: 18.3%; width: 62.4%; height: 8.9%;cursor: pointer;}