@font-face {
	font-family: NanumSqueare;
	src: url(font/NanumSquareR.eot?#iefix) format("embedded-opentype"), url(font/NanumSquareR.woff) format("woff"), url(font/NanumSquareR.ttf) format("truetype");
}

/*ie7/8*/
@font-face{
    font-family : ie_nanum;
    src:url(font/NanumSquareR.eot);
    src:local(※), url(font/NanumSquareR.woff) format(‘woff’)
}

*{font-family: NanumSqueare, ie_nanum;font-size: 0.99em; font-weight: bold;margin:0; padding:0;-webkit-touch-callout:none; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

iframe::-webkit-scrollbar { display:none; }
body{background: #eee;box-sizing: border-box; width:100%; overflow:hidden;}

.ContentWrap{height:100%;position:relative; }
.header{padding: 0 2%; box-sizing: border-box; height: 60px; box-shadow: 0 2px 4px 0 rgba(85, 77, 86, 0.2); background: #fff;position: absolute; left: 0; top: 0; width: 100%; z-index: 5;}
.header p{text-align:center;}
.header p.backBtn{width:25px;cursor:pointer;}
.header p.backBtn img{height:35%;}
.header p.nextBtn{width:25px;}

.content{overflow: auto;position:relative; display: grid; grid-template-columns: repeat(auto-fill, 250px); grid-gap: 40px 25px; justify-content: center; padding: 40px;}
.content.noscroll{overflow:hidden !important;}
.Conmo{margin-top:15vw}
.Conpc{margin-top:60px}

/* 프로젝트 폴더 */
.content .project{
    background: url(../common/img/folder.png) no-repeat;
    background-size: 100% 100%;
	padding:15% 7% 9% 7%;
	box-sizing:border-box;
    height: auto;
    position: relative;
    width: 250px;
    cursor: pointer;
}
.content .project .tit{font-size:1.2em}
.content .project .subinfo{padding-top: 6%; font-size: 0.9em; box-sizing: border-box; white-space: inherit; word-break: keep-all; line-height: 1.5em;}

/* 모바일 */
.content.gallery{grid-template-columns: repeat(auto-fill, 274px) !important;}
.content.gallery .smallView{
	box-sizing:border-box;
    height: auto;
    position: relative;
    width: 274px;
    padding-left : 12px;
}

.content.gallery .smallView .tit{
    height: 40px;
    line-height: 40px;
	width:250px;
 	box-sizing: border-box; border-top: 1px solid rgba(193, 193, 193, 0.49); 
}
.content.gallery .smallView .border-top{width:250px;box-sizing: border-box; border-top: 1px solid rgba(193, 193, 193, 0.49); }

.content.gallery .smallView .imgWrap{
    max-height: 720px;
    overflow-y:scroll;
}
.content.gallery .smallView img{box-sizing: border-box; border: 1px solid rgba(193, 193, 193, 0.49); border-bottom:none; border-top:none; width:100%;box-shadow: 0 1px 4px 0 rgba(188, 181, 185, 0.5); box-shadow: 0 1px 4px 0 rgba(188, 181, 185, 0.5);}
.content.gallery .smallView .imgWrap::-webkit-scrollbar{width: 12px;background: transparent; }
.content.gallery .smallView .imgWrap::-webkit-scrollbar-thumb{background: #d5d5d5; width: 4px !important; border: 4px solid #eee; border-radius: 30px;}
.content.gallery .smallView .imgWrap::-webkit-scrollbar-track{background: transparent;}


/* 웹 */
.content.Wgallery{grid-template-columns: repeat(auto-fill, 984px) !important;}
.content.Wgallery .smallView{
	box-sizing:border-box;
    height: auto;
    position: relative;
    width: 984px;
    padding-left : 12px;
}

.content.Wgallery .smallView .tit{
    height: 40px;
    line-height: 40px;
	width:960px;
 	box-sizing: border-box; border-top: 1px solid rgba(193, 193, 193, 0.49); 
}
.content.Wgallery .smallView .border-top{width:960px;box-sizing: border-box; border-top: 1px solid rgba(193, 193, 193, 0.49); }

.content.Wgallery .smallView .imgWrap{
    max-height: 720px;
    overflow-y:scroll;
}
.content.Wgallery .smallView img{box-sizing: border-box; border: 1px solid rgba(193, 193, 193, 0.49); border-bottom:none; border-top:none; width:100%;box-shadow: 0 1px 4px 0 rgba(188, 181, 185, 0.5); box-shadow: 0 1px 4px 0 rgba(188, 181, 185, 0.5);}
.content.Wgallery .smallView .imgWrap::-webkit-scrollbar{width: 12px;background: transparent; }
.content.Wgallery .smallView .imgWrap::-webkit-scrollbar-thumb{background: #d5d5d5; width: 4px !important; border: 4px solid #eee; border-radius: 30px;}
.content.Wgallery .smallView .imgWrap::-webkit-scrollbar-track{background: transparent;}


/* 해피포인트 이벤트 뷰 */
.WebView{/* min-height:900px;  */height:100%;width: 100%;/* padding: 3%; */ box-sizing: border-box;}
.viewMo{margin: 3%;}
.viewPc{margin: 1.5%;}			
.phone{padding : 0 3% 0 3%;box-sizing:border-box;/* width:360px; */border: 2px solid #bfbfbf;border-radius: 15px;background-color: #fff;}
.phoneMo{padding: 0 3% 0 3%;}
.phonePc{padding: 0 1.5% 0 1.5%;}	
.phone .phone_head{height:6.6%;}
.phone .phone_head .speaker{width: 30%;height:9%;background: #bfbfbf;}
#device_view{height:1; border: 1px solid #bfbfbf;}
#device_view .mainPage{height: 100%; overflow: auto;}
#device_view .mainPage{ -ms-overflow-style: none; }
#device_view .mainPage::-webkit-scrollbar { display:none; }
#device_view .mainPage .topDiv img{width:100%; height:auto;}
#device_view .mainPage p.linkBtn{height: auto; border-top: 1px solid #bfbfbf;/*  padding-left:5%;  */cursor:pointer; font-size:2.5vw;}
#device_view .mainPage p.linkBtn img{width:100%;}
.phone .phone_bottom{height: 9.5%; width: 100%; padding: 2.5% 0; box-sizing: border-box;}
.phone .phone_bottom .btnHomeWrap{height: 100%; width:100%; position:relative; text-align: center;}
.phone .phone_bottom .btnHomeWrap .btn_home{cursor: pointer;}
.phone .phone_bottom img{height:100%;position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.visibility_hidden{visibility:hidden}
.visibility_show{visibility:visible}

/*공용*/
.comLoadingWrap{display:none;}
.comLoadingWrap_Gallery{ z-index: 999; width: 100%; height: 100%; background: rgba(26, 25, 25, 0.51); position: absolute; left: 0; top: 0;}
.loading{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}

.hrefBtn{cursor:pointer;}

.flexColumn{display: flex;  flex-direction: column; display: -webkit-flex;  -webkit-flex-direction: column; }
.flex{display: flex; display: -webkit-flex;}
.flexGrow{-webkit-flex-grow: 1; flex-grow: 1; }
.center{-webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }/* 가로세로중앙정렬 */
.centerH{-webkit-align-items: center; align-items: center; }/* 세로중앙정렬 */
.right{-webkit-justify-content: right; justify-content: right; -webkit-align-items: right; align-items: right; }
.position_r{position:relative;}
.font16{font-size:16px !important;}
