*{margin:0; padding:0;-webkit-touch-callout:none; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
iframe::-webkit-scrollbar { display:none; }

body{background: #eee;box-sizing: border-box; width:100%; overflow:hidden;}
.WebView{/* min-height:900px;  */height:100%;width: 100%; padding: 3%; box-sizing: border-box;}					
.phone{padding : 0 3vh 0 3vh;/* width:360px; */border: 2px solid #bfbfbf;border-radius: 3vh;background-color: #fff;}
.phone .phone_head{height:6.1vh;}
.phone .phone_head .speaker{width: 15vh;height: 0.7vh;border-radius: 0.5vh;background: #bfbfbf;}
#device_view{height:1; border: 1px solid #bfbfbf;}
#device_view .mainPage{height: 100%; overflow: auto;}
#device_view .mainPage{ -ms-overflow-style: none; }
#device_view .mainPage::-webkit-scrollbar { display:none; }
#device_view .mainPage .topDiv img{width:100%; height:auto;}
#device_view .mainPage .linkBtn{height: 7vh; border-top: 1px solid #bfbfbf; padding-left: 2vh; cursor:pointer;}
.phone .phone_bottom{height: 9vh; width: 100%; padding: 1vw 0; box-sizing: border-box;}
.phone .phone_bottom .btn_home{cursor: pointer;}
.phone .phone_bottom img{height:100%;}

.loading{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
.visibility_hidden{visibility:hidden}
.visibility_show{visibility:visible}

.flexColumn{display: flex;  flex-direction: column; display: -webkit-flex;  -webkit-flex-direction: column; }
.flex{display: flex; display: -webkit-flex;}
.flexGrow{-webkit-flex-grow: 1; flex-grow: 1; }
.center{-webkit-justify-content: center; justify-content: center; -webkit-align-items: center; align-items: center; }/* 가로세로중앙정렬 */
.centerH{-webkit-align-items: center; align-items: center; }/* 세로중앙정렬 */
.right{-webkit-justify-content: right; justify-content: right; -webkit-align-items: right; align-items: right; }

